<h1 style="background-color: pink; box-sizing: border-box;">Chat Application</h1>
<input type= "text" [(ngModel)]="title" />
<button (click)="person1chat()">person 1 </button>
<button (click)="person2chat()">person 2 </button>
<div style="display : flex;">
<div style="height: 500px; width:500px; background-color: cadetblue; flex: 0.5;">
<div *ngFor="let m of chat">
<h1 style="background-color: aquamarine;">Name : {{ m.name}} | {{m.message}}</h1>
<hr /><br>
</div>
</div>
<div style="height: 500px; width:500px; background-color: royalblue; flex: 0.5;">
<div *ngFor="let m of chat2">
<h1 style="background-color: rgb(10, 124, 115);">Name : {{ m.name}} | {{m.message}}</h1>
<hr /><br>
</div>
</div>
</div>
